<md-button class="md-icon-button fll mar-l-0"
           aria-label="{{::'GO_BACK' | translate}}"
           ui-sref="order.productCategories(::ctrl.srefParams)">
    <i class="mdi mdi-arrow-left"></i>
    <md-tooltip md-direction="top">{{::'BACK_TO_CATEGORIES' | translate}}</md-tooltip>
</md-button>

<md-input-container md-no-float class="md-no-line md-no-errors mar-t-0 flex-center-align">
    <i class="mdi mdi-magnify"></i>
    <input ng-model="ctrl.filter" type="text" placeholder="{{::'FILTER' | translate}}">
</md-input-container>

<div class="card product-category-card img-cover mar-b-20" sp-back-img="::ctrl.category.image">
    <h3 class="title md-title">{{::ctrl.category.name}}</h3>
</div>

<div class="grid-container" layout="row" layout-wrap>
    <div ng-repeat="product in ctrl.products | filter:ctrl.filter" class="grid-item" flex="50">
        <div class="card product-card bk-white pad-small"
             md-whiteframe="1"
             sp-whiteframe-elevate="2"
             ng-click="ctrl.order.add(product)">
            <div class="text">
                <span class="name">{{::product.name}}</span>
                <small class="description">{{::product.description}}</small>
            </div>
            <div class="actions">
                <span class="price"
                      translate="PRICE"
                      translate-values="::{price: '{{product.price}}'}">
                </span>
                <md-button class="md-icon-button"
                           aria-label="{{::'ADD_TO_ORDER' | translate}}"
                           ng-class="{active: ctrl.order.count(product._id) > 0}">
                    <span class="plus">+</span>
                    <span class="ammount">{{ctrl.order.count(product._id)}}</span>
                </md-button>
            </div>
        </div>
    </div>
</div>
