.fll {
    float: left;
}

.flr {
    float: right;
}

.max-size {
    max-width: 800px;
    margin: 0 auto;
}
.pad {
    padding: 20px;
}
.pad-large {
    padding: 50px 60px;
}

.bk-grey {
    background-color: #f6f7f9;
}

.bk-white {
    background-color: #ffffff;
}

.mar-t-0 {
    margin-top: 0;
}
.mar-b-30 {
    margin-bottom: 30px;
}

[dy-whiteframe-elevate] {
    transition: box-shadow .25s;
}

.grid-container {
    margin: -10px;
    .grid-item {
        padding: 10px;
    }
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
