.dy-card {
    background: white;
    cursor: pointer;
    border-radius: 2px;
    overflow: hidden;
    .header {
        height: 100px;
        background: @colorMain;
        color: white;
        position: relative;
        .info {
            position: absolute;
            left: 20px;
            bottom: 20px;
            .name {
                font-weight: bold;
                display: block;
                margin-bottom: 5px;
            }
        }
    }
    .description {
        color: rgba(0,0,0,.65);
    }
}
