// Transitions
@transitionTime: .25s;
@transitionLargeTime: .5s;

// Colors
@primaryColor: #2196F3;
@darkPrimaryColor: #303F9F;
@lightPrimaryColor: #C5CAE9;
@lightText: #FFFFFF;
@accentColor: #8BC34A;
@primaryText: #212121;
@secondaryText: #727272;
@backgroundColor: #F6F7F9;
@whiteColor: #FFFFFF;
@amberColor: #FFC107;
@dividerColor: rgba(0,0,0,.09);
@iconLightColor: rgba(0,0,0,0.20);

// Devices media queries
@pc: ~"only screen and (min-width: 960px)";
@mobile: ~"only screen and (max-width: 960px)";
@smartphone: ~"only screen and (max-width: 479px)";
@big-screen: ~"only screen and (min-width: 1200px)";
