<sp-navbar></sp-navbar>

<div class="pad-large max-size extra-col">

    <div class="content">

        <div ng-repeat="market in ::ctrl.markets"
             class="card market-card mar-b-20"
             md-whiteframe="1"
             sp-whiteframe-elevate="3">
            <div class="img img-cover" sp-back-img="::market.category.image"></div>

            <div class="bg-white pad">
                <small class="category" sp-color="::market.category.color">{{::market.category.name}}</small>
                <h3 class="name">{{::market.name}}</h3>
                <span class="description">{{::market.description | ellipsis: 140}}</span>

                <span class="divider horizontal"></span>

                <div class="metrics">
                    <div ng-if="::market.distance">
                        <span class="title">{{::market.distance | relativeDistance}}</span>
                        <small class="subtitle">{{::'OF_DISTANCE' | translate}}</small>
                    </div>
                    <div ng-if="::market.deliveryTime">
                        <span class="title">{{::market.deliveryTime | relativeTime:'minutes' | lowercase}}</span>
                        <small class="subtitle">{{::'DELIVERY_TIME' | translate}}</small>
                    </div>
                    <div>
                        <span class="title">Gratis</span>
                        <small class="subtitle">{{::'SHIPPING_COST' | translate}}</small>
                    </div>
                    <div>
                        <span class="title" ng-if="::market.minOrder">{{::market.minOrder}}$</span>
                        <span class="title" ng-if="::!market.minOrder">{{::'FREE' | translate}}</span>
                        <small class="subtitle">{{::'MIN_ORDER' | translate}}</small>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="side-content filters-list">
        <small>{{::'ORDER_BY' | translate}}</small>
        <ul>
            <li>{{::'CHEAPER' | translate}}</li>
            <li>{{::'CLOSER' | translate}}</li>
            <li>{{::'BEST_RATED' | translate}}</li>
            <li>{{::'MORE_POPULAR' | translate}}</li>
        </ul>

        <small>{{::'CATEGORY' | translate}}</small>
        <ul>
            <li ng-repeat="category in ::ctrl.categories">{{::category.name}}</li>
        </ul>
    </div>
</div>
