.card {
    &.market-card {
        .img {
            height: 50px;
            background-size: cover;
            background-position: center;
            position: relative;
            &::before {
                .backdrop(.25);
            }
        }
        .category {
            text-transform: uppercase;
            font-weight: bold;
        }
        .name {
            font-weight: normal;
            display: block;
            margin: 5px 0 8px;
            font-size: 20px;
        }
        .description {
            font-size: 15px;
            color: @secondaryText;
        }
        .metrics {
            display: flex;
            text-align: center;
            > div {
                flex: 1;
                .title {
                    display: block;
                }
                .subtitle {
                    text-transform: lowercase;
                    color: @secondaryText;
                }
            }
        }
    }
}

.filters-list {
    small {
        display: block;
        text-transform: uppercase;
        font-weight: bold;
        color: @secondaryText;
        margin-bottom: 10px;
        &:not(:first-child) {
            margin-top: 16px;
        }
    }
    ul {
        padding-left: 5px;
        li {
            margin: 10px 0;
            font-size: 15px;
            cursor: pointer;
            font-weight: normal;
            transition: color @transitionTime;
            &.selected {
                color: @primaryColor;
            }
        }
    }
}
