sp-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    .content {
        height: 60px;
        padding: 0 20px;
        background: @whiteColor;
        &:extend(.flex-center-align);
        &:extend(.md-whiteframe-1dp);
        .search {
            flex-grow: 1;
            md-input-container {
                display: inline-flex;
                width: 100%;
            }
        }
        > .divider {
            margin: 0 16px;
        }
    }
}

sp-carousel {
    overflow: hidden;
    display: block;
    > .items {
        display: flex;
        transition: transform @transitionLargeTime;
        sp-carousel-item {
            display: block;
            flex: 0 0 100%;
        }
    }
    .indicators {
        text-align: center;
        span {
            cursor: pointer;
            margin: 0 8px;
            font-size: 1.5em;
            color: lighten(@secondaryText, 40%);
            transition: color @transitionTime;
            &.active {
                color: @secondaryText;
            }
            &:hover:not(.active) {
                color: lighten(@secondaryText, 30%);
            }
            &:focus {
                outline: none;
            }
        }
    }
}
