<div class="content md-whiteframe-1dp">

    <div class="search">
        <md-input-container md-no-float class="md-no-line md-no-errors mar-0 flex-center-align">
            <i class="mdi mdi-magnify"></i>
            <input ng-model="navCtrl.search" type="text" placeholder="{{::'SEARCH' | translate}}">
        </md-input-container>
    </div>

    <span class="divider vertical"></span>

    <div class="auth">
        <md-button class="flr" ng-click="navCtrl.login()">{{::'LOGIN' | translate}}</md-button>
    </div>
</div>
