<div class="content md-whiteframe-1dp">

    <div class="search">
            <md-input-container md-no-float class="md-no-line md-fixed-height flex-center-align">
                <i class="mdi mdi-magnify"></i>
                <input ng-model="navCtrl.search" type="text" placeholder="{{::'SEARCH' | translate}}">
                <!--
                <md-button aria-label="{{::'LIST' | translate}}" class="md-icon-button">
                    <i class="mdi mdi-view-list"></i>
                </md-button>
                <md-button aria-label="{{::'MAP' | translate}}" class="md-icon-button">
                    <i class="mdi mdi-map"></i>
                </md-button>
                -->
    </md-input-container>
    </div>

    <span class="divider vertical"></span>

    <div class="auth">
        <md-button class="flr">{{::'LOGIN' | translate}}</md-button>
    </div>
</div>
