main-page {
    section.banner {
        position: relative;
        height: 500px;
        background-image: url('//s3-us-west-2.amazonaws.com/supedidos/assets/img/backgrounds/main-banner.jpg');
        .nav-bar {
            color: @whiteColor;
            margin-bottom: 20px;
            padding: 10px 20px;
        }
        .info {
            color: @whiteColor;
            &:extend(.center-abs);
            .title {
                text-align: center;
                font-weight: bold;
                margin: 20px;
                font-size: 55px;
                white-space: nowrap;
                text-transform: uppercase;
            }
            .subtitle {
                display: block;
                text-align: center;
                font-weight: bold;
                font-size: 20px;
            }
        }
        .finder {
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translate(-50%, 50%);
            flex-wrap: wrap;
            align-items: center;
            margin: 0 auto;
            border-radius: 2px;
            padding: 20px;
            max-width: 800px;
            background: @whiteColor;
            > span {
                flex-basis: 100%;
                margin-bottom: 15px;
                color: @secondaryText;
            }
            button {
                height: 36px;
                margin: 0;
            }
        }
    }
    section:not(.banner) {
        h1.title {
            margin: 0 0 20px 0;
            font-size: 2.8em;
        }
        .subtitle {
            font-size: 1.5em;
        }
    }
    section.intro {
        .info {
            p {
                color: @secondaryText;
                line-height: 32px;
                margin-top: 30px;
                font-size: 1.25em;
            }
        }
    }
    section.advantages {
        position: relative;
        display: block;
        .info {
            .subtitle {
                display: block;
                margin-bottom: 40px;
            }
            .items {
                .advantage {
                    display: flex;
                    max-width: 350px;
                    i {
                        font-size: 2.5em;
                        margin-right: 20px;
                        &.mdi-currency-usd {
                            color: #70BF41;
                        }
                        &.mdi-timelapse {
                            color: #F39019;
                        }
                        &.mdi-star {
                            color: #6DC3AC;
                        }
                        &.mdi-home {
                            color: #3D5364;
                        }
                    }
                    span {
                        font-size: 1.25em;
                    }
                    p {
                        margin: 8px 0 0;
                        line-height: 22px;
                        color: @secondaryText;
                    }
                }
            }
        }
    }
    section.faq {
        flex-wrap: wrap;
        .items {
            .question {
                span {
                    font-size: 1.25em;
                }
                p {
                    margin: 15px 0 0;
                    line-height: 24px;
                    color: @secondaryText;
                }
            }
        }
    }
    section.quotes {
        height: 440px;
        display: flex;
        align-items: flex-end;
        overflow: hidden;
        .box {
            position: relative;
            height: 220px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            padding: 30px;
            .md-fab {
                position: absolute;
                top: 0;
                left: 0;
                transform: translate(-50%, -50%);
                pointer-events: none;
                background: white;
                color: @secondaryText;
                font-size: 26px;
            }
            .person-quote {
                flex-direction: column;
                display: flex;
                > p {
                    color: @secondaryText;
                    line-height: 26px;
                    overflow: hidden;
                    flex-grow: 1;
                    margin: 0 0 30px 0;
                }
                .person {
                    padding: 0;
                    flex-grow: 0;
                    > * {
                        margin-top: 0;
                    }
                }
            }
            sp-carousel .indicators {
                position: absolute;
                bottom: 30px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    section.footer {
        .copyright {
            font-size: 0.9em;
            font-weight: bold;
            color: @secondaryText;
        }
    }
}

@media @pc {
    main-page {
        section.banner .finder {
            > *:not(:last-child) {
                margin-right: 20px;
            }
        }
        section.intro {
            padding: 100px 0;
            display: flex;
            align-items: center;
            .info {
                max-width: 500px;
                margin-left: 100px;
                flex: 1;
            }
            > img {
                margin-left: auto;
                height: 440px;
            }
        }
        section.advantages {
            padding: 100px;
            > img {
                height: 100%;
                position: absolute;
                top: 50px;
                left: 10px;
            }
            .info {
                .items {
                    margin: -20px;
                    width: 740px;
                    .advantage {
                        padding: 20px;
                    }
                }
            }
        }
        section.faq {
            padding: 100px;
            h1.title {
                text-align: center;
                margin-bottom: 70px;
            }
            .items {
                margin: -30px -20px;
                .question {
                    padding: 30px 20px;
                }
            }
        }
        section.quotes {
            > div {
                margin: 0 auto;
            }
            .box {
                position: relative;
                width: 500px;
            }
        }
        section.footer {
            padding: 20px 100px;
        }
    }
}

@media @mobile {
    main-page {
        section.banner {
            .info {
                width: 90%;
                .title {
                    white-space: normal;
                    font-size: 30px;
                    margin: 6px;
                }
                .subtitle {
                    font-size: 16px;
                }
            }
            .finder {
                width: 80%;
                > span {
                    display: block;
                }
                > *:not(:last-child) {
                    margin-bottom: 16px;
                }
                button {
                    width: 100%;
                }
            }
        }
        section.intro {
            padding: 155px 8% 60px 8%;
            > img {
                display: none;
            }
        }
        section.advantages {
            padding: 60px 8%;
            > img {
                display: none;
            }
            .info {
                float: none;
            }
        }
        section.faq {
            padding: 60px 8%;
        }
        section.quotes {
            > div {
                flex-basis: 100%;
            }
        }
        section.footer {
            padding: 20px 8%;
        }
    }
}
