main-page {
    section.banner {
        padding-bottom: 50px;
        background: @primaryColor;
        color: @whiteColor;
        background-image: url('//s3-us-west-2.amazonaws.com/supedidos/assets/img/backgrounds/main.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        .nav-bar {
            margin-bottom: 20px;
        }
        .info {
            text-align: center;
            .title {
                margin-bottom: 15px;
                font-weight: bold;
            }
            .subtitle {
                font-weight: bold;
                margin-bottom: 50px;
                display: block;
                color: rgba(255, 255, 255, 0.8);
            }
        }
        .finder {
            align-items: center;
            margin: 0 auto;
            background: @whiteColor;
            border-radius: 2px;
            padding: 20px;
            max-width: 600px;
            button {
                height: 36px;
                margin: 0;
            }
        }
    }
    section.instructions {
        .step {
            text-align: center;
            padding: 0 10px;
            .img {
                display: flex;
                align-items: center;
                img {
                    margin: 0 auto;
                }
            }
            .title {
                margin: 12px 0;
            }
            span {
                color: rgba(0,0,0,.7);
            }
        }
    }
}

@media @pc {
    main-page {
        section.banner .finder {
            > *:not(:last-child) {
                margin-right: 20px;
            }
        }
        section.instructions .step .img {
            height: 120px;
        }
    }
}

@media @mobile {
    main-page {
        section.banner .finder {
            > *:not(:last-child) {
                margin-bottom: 16px;
            }
            button {
                width: 100%;
            }
        }
        section.instructions .step {
            margin-bottom: 30px;
        }
    }
}
