<section class="banner bg-image">
    <div class="nav-bar clearfix">
        <span class="logo light"></span>
        <md-button class="flr">{{::'LOGIN' | translate}}</md-button>
        <md-button class="flr">{{::'REGISTER' | translate}}</md-button>
    </div>

    <div class="info">
        <h1 class="title md-display-1">{{::'WHAT_YOU_NEED_FROM_HOME' | translate}}</h1>
        <span class="subtitle md-headline">{{::'REDUCE_TIME_AND_COSTS' | translate}}</span>
    </div>

    <form class="finder"
          layout-gt-sm="row"
          md-whiteframe="1"
          name="ctrl.locationForm"
          ng-submit="ctrl.search()">
        <span class="title">{{::'SEARCH_PRODUCTS_NEAR_HOME' | translate}}</span>
        <md-input-container class="md-block md-no-errors mar-0" md-no-float flex-gt-sm>
            <input placeholder="{{::'YOUR_CITY' | translate}}" ng-model="ctrl.order.location.city">
        </md-input-container>
        <md-input-container class="md-block md-no-errors mar-0" md-no-float flex-gt-sm>
            <input placeholder="{{::'YOUR_DIRECTION' | translate}}" ng-model="ctrl.order.location.address">
        </md-input-container>
        <md-button type="submit" class="md-raised md-primary">{{::'START' | translate}}</md-button>
    </form>
</section>

<section class="intro bg-white">
    <div class="info">
        <h1 class="title md-display-1">Tu pedido en tus manos</h1>
        <span class="subtitle">Realizá el pedido en cuestión de minutos</span>
        <p>
            Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. Sed sollicitudin ipsum quis nunc sollicitudin ultrices. Donec euismod scelerisque ligula.
        </p>
    </div>
    <img src="//s3-us-west-2.amazonaws.com/supedidos/assets/img/main/notebook-page.png" sp-parallax x-vertical-margin="50" />
    <!-- <img src="//s3-us-west-2.amazonaws.com/supedidos/assets/img/main/notebook-page.png" sp-parallax x-ratio="0.2" /> -->
</section>

<section class="advantages clearfix">
    <img lazy-img="//s3-us-west-2.amazonaws.com/supedidos/assets/img/main/grocery-bag.png" sp-parallax x-vertical-margin="50" />
    <div class="info flr">
        <h1 class="title md-display-1">El lugar donde vos ganás</h1>
        <span class="subtitle">Buscamos darte todas las ventajas posibles</span>
        <div class="items grid-container layout-wrap layout-row">
            <div class="advantage grid-item" flex="50">
                <i class="mdi mdi-currency-usd"></i>
                <div class="text">
                    <span>Más barato</span>
                    <p>Encontrá el lugar más barato para hacer tu pedido</p>
                </div>
            </div>
            <div class="advantage grid-item" flex="50">
                <i class="mdi mdi-timelapse"></i>
                <div class="text">
                    <span>Más rápido</span>
                    <p>Todos los lugares y todos los productos en la palma de tu mano</p>
                </div>
            </div>
            <div class="advantage grid-item" flex="50">
                <i class="mdi mdi-star"></i>
                <div class="text">
                    <span>Mejor calidad</span>
                    <p>Mira las reseñas para encontrar el lugar de mejor calidad</p>
                </div>
            </div>
            <div class="advantage grid-item" flex="50">
                <i class="mdi mdi-home"></i>
                <div class="text">
                    <span>A tu casa</span>
                    <p>¿No te alcanza con todo lo otro? El pedido también te llega a tu casa</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="faq bg-white">
    <h1 class="title md-display-1">Preguntas frecuentes</h1>
    <div class="items grid-container layout-wrap layout-row">
        <div class="question grid-item" flex="50">
            <span>¿Me sale más barato comprar directamente en el súpermercado?</span>
            <p>Nam porttitor blandit accumsan. Ut vel dictum sem, a pretium dui. In malesuada enim in dolor euismod, id commodo mi consectetur. Curabitur at vestibulum nisi.</p>
        </div>
        <div class="question grid-item" flex="50">
            <span>¿Me sale más barato comprar directamente en el súpermercado?</span>
            <p>Nam porttitor blandit accumsan. Ut vel dictum sem, a pretium dui. In malesuada enim in dolor euismod, id commodo mi consectetur. Curabitur at vestibulum nisi.</p>
        </div>
        <div class="question grid-item" flex="50">
            <span>¿Me sale más barato comprar directamente en el súpermercado?</span>
            <p>Nam porttitor blandit accumsan. Ut vel dictum sem, a pretium dui. In malesuada enim in dolor euismod, id commodo mi consectetur. Curabitur at vestibulum nisi.</p>
        </div>
        <div class="question grid-item" flex="50">
            <span>¿Me sale más barato comprar directamente en el súpermercado?</span>
            <p>Nam porttitor blandit accumsan. Ut vel dictum sem, a pretium dui. In malesuada enim in dolor euismod, id commodo mi consectetur. Curabitur at vestibulum nisi.</p>
        </div>
    </div>
</section>

<section class="quotes bg-image bg-white"
         lazy-img="//s3-us-west-2.amazonaws.com/supedidos/assets/img/backgrounds/city-street.jpg"
         sp-parallax-background
         x-ratio="0.2">
    <div class="box bg-white" md-whiteframe="3">
        <md-button class="md-fab">
            <i class="mdi mdi-format-quote"></i>
        </md-button>
        <ul rn-carousel
            rn-carousel-index="ctrl.quotesCarouselIndex"
            rn-carousel-auto-slide="6"
            rn-carousel-duration="500">
            <li ng-repeat="quote in ctrl.quotes">
                <p>
                    {{::quote.text}}
                </p>
                <md-list-item class="person md-2-line">
                  <img lazy-img="{{::quote.autor.pic}}" class="md-avatar"/>
                  <div class="md-list-item-text">
                    <h3>{{::quote.autor.name}}</h3>
                    <p>{{::quote.autor.job}}</p>
                  </div>
                </md-list-item>
            </li>
            <li>
                <p>
                    Nam porttitor blandit accumsan. Ut vel dictum sem, a pretium dui. In malesuada enim in dolor euismod, id commodo mi consectetur. Curabitur at vestibulum nisi id commodo mi consectr.
                </p>
                <md-list-item class="person md-2-line">
                  <img lazy-img="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAaBAAAAJGJjNThkYzA5LTk1MmQtNDJlZC1iYjhiLWRkMTIwYjgwNjVhNQ.jpg" class="md-avatar"/>
                  <div class="md-list-item-text">
                    <h3>Diego Roitman</h3>
                    <p>CEO Triceratops</p>
                  </div>
                </md-list-item>
            </li>
            <li>
                <p>
                    Nam porttitor blandit accumsan. Ut vel dictum sem, a pretium dui. In malesuada enim in dolor euismod, id commodo mi consectetur. Curabitur at vestibulum nisi id commodo mi consectr.
                </p>
                <md-list-item class="person md-2-line">
                  <img lazy-img="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAaBAAAAJGJjNThkYzA5LTk1MmQtNDJlZC1iYjhiLWRkMTIwYjgwNjVhNQ.jpg" class="md-avatar"/>
                  <div class="md-list-item-text">
                    <h3>Diego Roitman</h3>
                    <p>CEO Triceratops</p>
                  </div>
                </md-list-item>
            </li>
        </ul>
        <div rn-carousel-indicators
             rn-carousel-index="ctrl.quotesCarouselIndex"
             slides="ctrl.quotes">
        </div>
    </div>
</section>

<section class="footer">
    <span class="copyright">© 2015 SUPEDIDOS - ALL RIGHTS RESERVED</span>
</section>
