<section class="banner bg-image">
    <div class="nav-bar clearfix">
        <span class="logo light"></span>
        <md-button class="flr">{{::'LOGIN' | translate}}</md-button>
        <md-button class="flr">{{::'REGISTER' | translate}}</md-button>
    </div>

    <div class="info">
        <h1 class="title md-display-1">{{::'MAIN_TITLE' | translate}}</h1>
        <span class="subtitle md-headline">{{::'MAIN_SUBTITLE' | translate}}</span>
    </div>

    <form class="finder"
          layout-gt-sm="row"
          md-whiteframe="1"
          name="ctrl.locationForm"
          ng-submit="ctrl.search()">
        <span class="title">{{::'SEARCH_PRODUCTS_NEAR_HOME' | translate}}</span>
        <md-input-container class="md-block md-no-errors mar-0" md-no-float flex-gt-sm>
            <input placeholder="{{::'YOUR_CITY' | translate}}" ng-model="ctrl.order.location.city">
        </md-input-container>
        <md-input-container class="md-block md-no-errors mar-0" md-no-float flex-gt-sm>
            <input placeholder="{{::'YOUR_DIRECTION' | translate}}" ng-model="ctrl.order.location.address">
        </md-input-container>
        <md-button type="submit" class="md-raised md-primary">{{::'START' | translate}}</md-button>
    </form>
</section>

<section class="intro bg-white">
    <div class="info">
        <h1 class="title md-display-1">{{::'INTRO_TITLE' | translate}}</h1>
        <span class="subtitle">{{::'INTRO_SUBTITLE' | translate}}</span>
        <p>{{'INTRO_PARAGRAPH' | translate}}</p>
    </div>
    <img src="//s3-us-west-2.amazonaws.com/supedidos/assets/img/main/notebook-page.png" sp-parallax x-vertical-margin="80" />
</section>

<section class="advantages clearfix">
    <img lazy-img="//s3-us-west-2.amazonaws.com/supedidos/assets/img/main/grocery-bag.png" sp-parallax x-vertical-margin="80" />
    <div class="info flr">
        <h1 class="title md-display-1">{{::'ADVANTAGES_TITLE' | translate}}</h1>
        <span class="subtitle">{{::'ADVANTAGES_SUBTITLE' | translate}}</span>
        <div class="items grid-container layout-wrap layout-row">
            <div class="advantage grid-item" flex="50">
                <i class="mdi mdi-currency-usd"></i>
                <div class="text">
                    <span>{{::'CHEAPER' | translate}}</span>
                    <p>{{::'CHEAPER_DESCRIPTION' | translate}}</p>
                </div>
            </div>
            <div class="advantage grid-item" flex="50">
                <i class="mdi mdi-timelapse"></i>
                <div class="text">
                    <span>{{::'FASTER' | translate}}</span>
                    <p>{{::'FASTER_DESCRIPTION' | translate}}</p>
                </div>
            </div>
            <div class="advantage grid-item" flex="50">
                <i class="mdi mdi-star"></i>
                <div class="text">
                    <span>{{::'BETTER_QUALITY' | translate}}</span>
                    <p>{{::'BETTER_QUALITY_DESCRIPTION' | translate}}</p>
                </div>
            </div>
            <div class="advantage grid-item" flex="50">
                <i class="mdi mdi-home"></i>
                <div class="text">
                    <span>{{::'TO_YOUR_HOME' | translate}}</span>
                    <p>{{::'TO_YOUR_HOME_DESCRIPTION' | translate}}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="faq bg-white">
    <h1 class="title md-display-1">{{::'FAQ' | translate}}</h1>
    <div class="items grid-container layout-wrap layout-row">
        <div class="question grid-item" flex="50">
            <span>{{::'FAQ_QUESTION_1' | translate}}</span>
            <p>{{::'FAQ_QUESTION_1_ANSWER' | translate}}</p>
        </div>
        <div class="question grid-item" flex="50">
            <span>{{::'FAQ_QUESTION_2' | translate}}</span>
            <p>{{::'FAQ_QUESTION_2_ANSWER' | translate}}</p>
        </div>
        <div class="question grid-item" flex="50">
            <span>{{::'FAQ_QUESTION_3' | translate}}</span>
            <p>{{::'FAQ_QUESTION_3_ANSWER' | translate}}</p>
        </div>
        <div class="question grid-item" flex="50">
            <span>{{::'FAQ_QUESTION_4' | translate}}</span>
            <p>{{::'FAQ_QUESTION_4_ANSWER' | translate}}</p>
        </div>
    </div>
</section>

<section class="quotes bg-image bg-white"
         lazy-img="//s3-us-west-2.amazonaws.com/supedidos/assets/img/backgrounds/city-street.jpg"
         sp-parallax-background
         x-ratio="0.2">
    <div class="box bg-white" md-whiteframe="3">
        <md-button class="md-fab" aria-label="{{::'QUOTE' | translate}}">
            <i class="mdi mdi-format-quote"></i>
        </md-button>
        <sp-carousel x-duration="6000">
            <sp-carousel-item class="person-quote">
                <p>Nunca antes había probado algo igual, ahora que lo uso puedo decir que administro mejor mi dinero, ahorro hasta un 20% en las compras de cada mes solo por usar SuPedidos.</p>
                <md-list-item class="person md-2-line">
                  <img lazy-img="https://media.licdn.com/mpr/mpr/shrink_100_100/AAEAAQAAAAAAAAUFAAAAJGY5ZTc0MDRlLWE0MzQtNGI2ZS1hMTBhLTk3N2M3ZTUzMGNjOQ.jpg" class="md-avatar"/>
                  <div class="md-list-item-text">
                    <h3>Román Suárez</h3>
                    <p>CEO SuPedidos</p>
                  </div>
                </md-list-item>
            </sp-carousel-item>
            <sp-carousel-item class="person-quote">
                <p>Simple, intuitiva y valiosa, uno no necesita instrucciones para empezar a usar SuPedidos y puede apreciar su valor al instante, en mi opinión es una herramienta muy necesaria que todos deberíamos usar.</p>
                <md-list-item class="person md-2-line">
                  <img lazy-img="https://media.licdn.com/mpr/mpr/shrink_100_100/AAEAAQAAAAAAAAUFAAAAJGY5ZTc0MDRlLWE0MzQtNGI2ZS1hMTBhLTk3N2M3ZTUzMGNjOQ.jpg" class="md-avatar"/>
                  <div class="md-list-item-text">
                    <h3>Román Suárez</h3>
                    <p>CEO SuPedidos</p>
                  </div>
                </md-list-item>
            </sp-carousel-item>
            <sp-carousel-item class="person-quote">
                <p>Al principio escuché de esto y pensé que era un chiste, ¿una herramienta que me iba a hacer ahorrar plata y de forma gratuita? Era verdad, y se llama SuPedidos.</p>
                <md-list-item class="person md-2-line">
                  <img lazy-img="https://media.licdn.com/mpr/mpr/shrink_100_100/AAEAAQAAAAAAAAUFAAAAJGY5ZTc0MDRlLWE0MzQtNGI2ZS1hMTBhLTk3N2M3ZTUzMGNjOQ.jpg" class="md-avatar"/>
                  <div class="md-list-item-text">
                    <h3>Román Suárez</h3>
                    <p>CEO SuPedidos</p>
                  </div>
                </md-list-item>
            </sp-carousel-item>
            <sp-carousel-item class="person-quote">
                <p>Quisiera haber empezado a usar SuPedidos desde hace ya años, me habría ahorrado una cantidad de tiempo y plata invaluable, desde que conozco SuPedidos no hay una sola compra a los supermercados que no haga por allí.</p>
                <md-list-item class="person md-2-line">
                  <img lazy-img="https://media.licdn.com/mpr/mpr/shrink_100_100/AAEAAQAAAAAAAAUFAAAAJGY5ZTc0MDRlLWE0MzQtNGI2ZS1hMTBhLTk3N2M3ZTUzMGNjOQ.jpg" class="md-avatar"/>
                  <div class="md-list-item-text">
                    <h3>Román Suárez</h3>
                    <p>CEO SuPedidos</p>
                  </div>
                </md-list-item>
            </sp-carousel-item>
        </sp-carousel>
    </div>
</section>

<section class="footer">
    <span class="copyright">{{::'SUPEDIDOS_COPYRIGHT' | translate}}</span>
</section>
